* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  outline: none;
  list-style-type: none;
  border: none;
  font-family: "Nunito", sans-serif;
  color: var(--white);
}

:root {
  --dark-blue: #0b132b;
  --light-blue: #1c2541;
  --soft-blue: #3a506b;
  --green-sea: #5bc0be;
  --white: #fff;
}

body {
  background-color: var(--dark-blue);
}

/* header and nav*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  padding: 40px;
}

nav ul {
  display: flex;
  gap: 2rem;
  margin-right: .5rem;
}

 ul li a {
  padding-inline: 5px;
  position: relative;
}

 ul li a:after,
 ul li a:before {
  opacity: 0;
  transition: 1s ease;
  position: absolute;
  top: calc(50% - 1px);
  transform: translateY(-50%);
}

 ul li a:after {
  color: var(--green-sea);
  content: "]";
  right: -5px;
}

 ul li a:before {
  color: var(--green-sea);
  content: "[";
  left: -5px;
}

 ul li a:hover:after,
 ul li a:hover:before {
  opacity: 1;
}

/* header and nav*/
/* mobile btn */
button{
  background-color: transparent;
  font-size: 1.2rem;
  cursor: pointer;
  transition: 1s ease;
  display: none;
}

button i {
  color:var(--green-sea);
}

button.rotate{ 
  transform: rotate(90deg);
}

/* mobile btn */
/* mobile menu */

#mobile-menu{ 
height: 1px;
overflow: hidden;
transition: .5s ease;
z-index: 99px;
background-color: var(--dark-blue);
position: absolute;
width: 100%;
padding-inline: 40px;
}

#mobile-menu.on{ 
   height: 10rem;
}

#mobile-menu li{
  margin-block: 1rem;
  margin-left: .7rem;
}
/* mobile menu */

#hero{ 
  margin-top: 5rem;
}




/* media querie */
@media(max-width:540px){
  nav{
    display: none;
  }

  button{
    display: block;
  }
}
/* media querie */